<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} | %-5p - %m%n</pattern>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="stdout" />
	</root>

	<logger name="com.sprint4us" level="OFF" />

	<logger name="org.eclipse" level="OFF" />
	<logger name="org.glassfish.jersey.logging.LoggingFeature"
		level="DEBUG" />
	<logger name="org.springframework" level="OFF" />

</configuration>